.wrapper-toggle-menu {
  width: 25%;
  display: inline-block;
}

.b-select-city, #bar, #chart_div {
  margin: 25px 50px;
}

#bar {
  width: 50%;
  display: inline-block;
  height: 550px;
}

#chart_div {
  width: 50%;
  height: 450px;
}